@page "/"

@inject NavigationManager Navigation

<PageTitle>Login</PageTitle>
<section class="bg-gray-50 dark:bg-gray-950">
    <div class="flex items-center justify-center min-h-screen">
        <div class="w-full max-w-md rounded-lg px-4 py-14 md:px-6 md:py-20">
            <div class="flex justify-center mb-6">
                <img class="mr-2" src="assets/images/common/brand-logos/svg/vector.svg" alt="company logo" />
                <h2 class="text-center text-gray-900 dark:text-white text-xl font-semibold">Company Name</h2>
            </div>
            <h2 class="text-2xl font-semibold text-gray-900 dark:text-white text-center mb-2">Sign in</h2>
            <p class="text-md text-center text-gray-700 dark:text-gray-300">Enter your credentials to sign in</p>
            <form action="#" class="mt-6 mb-6" onsubmit="event.preventDefault();">
                <div class="mb-4">
                    <label class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">Email</label>
                    <SfTextBox CssClass="e-bigger" Type="InputType.Email" @bind-Value="LoginData.Email" Placeholder="Email" FloatLabelType="FloatLabelType.Never" aria-label="enter your email address" role="textbox"></SfTextBox>
                </div>
                <div class="mb-5 relative">
                    <label class="block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300">Password</label>
                    <SfTextBox CssClass="e-bigger bg-none" Type="InputType.Password" @bind-Value="LoginData.Password" Placeholder="Password" FloatLabelType="FloatLabelType.Never" aria-label="enter your email password" role="textbox"></SfTextBox>
                </div>
                <div class="flex items-center justify-between mb-6">
                    <SfCheckBox TChecked="Boolean" @bind-Checked="LoginData.RememberMe" CssClass="e-bigger" Label="Remember me" aria-label="remember me" role="checkbox"></SfCheckBox>
                    <a href="javascript:void(0);" class="text-primary-600 dark:text-primary-400 font-medium text-base" style="padding-right: 0 !important;" aria-label="forgot password" role="link">Forgot password?</a>
                </div>
                <div class="e-bigger mt-6">
                    <SfButton CssClass="w-full e-primary e-btn" type="submit" @onclick="NavigateToModule" aria-label="sign in">Sign in</SfButton>
                </div>
            </form>
            <div>
                <span class="flex items-center justify-center gap-2">
                    <p class="text-center text-base text-gray-900 dark:text-white">Don't have an account yet?</p>
                    <a href="javascript:void(0);" class="text-primary-600 dark:text-primary-400 font-medium text-base p-0" aria-label="sign up" role="link">Sign up</a>
                </span>
                <div class="relative flex justify-center items-center mt-10">
                    <span class="bg-gray-50 dark:bg-gray-950 px-2 z-10 absolute text-sm text-gray-700 dark:text-gray-300">Or continue with</span>
                    <hr class="w-full absolute border-gray-200 dark:border-gray-600" />
                </div>
                <div class="flex items-center justify-center pt-10 gap-4 flex-col">
                    <SfButton CssClass="w-full flex items-center justify-center px-4 py-2 e-outline" type="submit" aria-label="sign in with google account" role="button">
                        <img class="w-4" src="assets/images/common/brand-logos/png/google.png" alt="google logo" />
                        <span class="text-base pl-2.5">Sign in with Google</span>
                    </SfButton>
                    <SfButton CssClass="w-full flex items-center justify-center px-4 py-2 e-outline" type="submit" aria-label="sign in with microsoft account" role="button">
                        <img class="w-4" src="assets/images/common/brand-logos/png/microsoft.png" alt="microsoft logo" />
                        <span class="text-base pl-2.5">Sign in with Microsoft</span>
                    </SfButton>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private LoginModel LoginData = new LoginModel();

    private void NavigateToModule()
    {
        Navigation.NavigateTo("/support/tickets");
    }

    public class LoginModel
    {
        public string Email { get; set; } = "supporthub@example.com";
        public string Password { get; set; } = "Example@123";
        public bool RememberMe { get; set; }
    }
}