@inherits LayoutComponentBase

<section class="flex bg-gray-50 dark:bg-gray-950">
    <div class="h-screen shrink-0">
        <Sidebar />
    </div>
    <div class="main-container ml-auto">
        <NavMenu />
        @Body
    </div>
</section>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
